# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Next.js Build Output
.next/
out/
dist/
build/
tsconfig.tsbuildinfo

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Git & IDEs
.git/
.gitignore
.vscode/
.idea/
.DS_Store

# Docker files
Dockerfile
.dockerignore

# Documentation
README.md
API_DOCUMENTATION.md
